[Unit]
Description=Portal Box Service
After=network.target

[Service]
ExecStart= wait 20 /usr/bin/python3 /opt/portalbox/service.py /opt/portalbox/config.ini

[Install]
WantedBy=multi-user.target
